

#setview{
  flex: 1;
  text-align: center;
  margin-top: -580px;
  margin-left: 675px;
  position: absolute;
}

  #viewmonth,#viewweek, #viewday{
    border: none;
    background-color: rgb(179, 158, 158);
    border-radius: 5px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: medium;
  }

  #viewmonth:hover, #viewweek:hover, #viewday:hover{
    background-color: #160a0a;
  }

#tablecontainer{
    position: absolute;
    display: block;
    top: 22%;
    left: 22.5%;
    margin: -100px 0 0 0;
    align-self: center;
}
#calendartablemonth {
  border-collapse: collapse;
  text-align: center;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: -25px;
}

#calendartablemonth th {
  border: 2px solid black;
  border-radius: 100%;
  padding: 10px;
  text-align: center;
  border-style: solid; 
  width: 100px;
  height: 10px;
  font-weight: bold;
}

#calendartablemonth td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  width: 100px;
  height: 40px;
  max-height: 40px;
}

#calendartableweek {
  border-collapse: collapse;
  text-align: center;
  padding: 20px;
  margin-left: -30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#calendartableweek th{
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  width: 100px;
  height: 20px;
  font-weight: bold;
}

#calendartableweek td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  width: 100px;
  height: 440px;
}

#calendartableday {
  border-collapse: collapse;
  width: 100%;
  margin-left: 200px;
  text-align: center;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#calendartableday th {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  width: 135px;
  height: 20px;
  font-weight: bold;
}

#calendartableday td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  width: 135px;
  height: 440px;
}

#changeone{
  text-align: center;
  margin-top: 36%;
}

#buttongoback, #buttongoforth{
  border-style: none;
  background-color: rgb(183, 163, 163);
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  width: 30px;
  height: 30px;
}

#buttongoback:hover, #buttongoforth:hover{
  background-color: #160a0a;
}

#openreservation{
  border: #160a0a;
  border-style: dotted;
  display: none;
}

#map{
  display: none;
}

/* Styling for reservation divs */
.reservation-container-month {
  display: block; 
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  margin: 5px 0;
  max-height: 85%;
  overflow: auto;
}

.reservation-container-week{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  margin: 5px 0;
}

.reservation-container-day{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4px;
  margin: 3px 0;
}

.event-div-month {
  border: 1px solid black;
  padding: 4px;
  margin: 2px;
  width: 80px;
  height: 5px;
  cursor: pointer;
  background-image: none;
  font-size: 7px;
}

.event-div-week {
  border: 1px solid black;
  padding: 5px;
  margin: 2px;
  margin-left: -4px;
  width: 120px;
  cursor: pointer;
}

.event-div-day {
  border: 1px solid black;
  padding: 5px;
  margin: 2px;
  width: 120px;
  cursor: pointer;
}

.event-div-month:hover {
  background-color: #d0d0d0;
}

.event-div-week:hover {
  background-color: #d0d0d0;
}

.event-div-day:hover {
  background-color: #d0d0d0;
}

#selectdatediv{
  position: absolute;
  margin-top: -28px;
  margin-left: 920px;
}

  #MonthDateSelect{
    border: 2px solid rgb(179, 158, 158);
    background-color: rgb(179, 158, 158);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
  }

  #YearDateSelect{
    border: 2px solid rgb(179, 158, 158);
    background-color: rgb(179, 158, 158);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
  }

  #DayDateSelect{
    border: 2px solid rgb(179, 158, 158);
    background-color: rgb(179, 158, 158);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
  }

  #DateSelectButton{
    border: 2px solid rgb(179, 158, 158);
    background-color: rgb(179, 158, 158);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
  }

#reservationmaking{
  position: absolute;
  margin-left: 250px;
  margin-top: -450px;
}

  #reservationopen{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: rgb(179, 158, 158);
    border-radius: 20%;
    width: 40px;
    height: 40px;
  }

#reservationsystem{
  display: none;
  position: absolute;
  z-index: 2; /*z-index 1 für Reservationanzeige*/
  margin-top: -450px;
  margin-left: 630px;
  border: 5px solid rgb(179, 158, 158);
  background-color: rgb(221, 210, 210);
}

#ReservationDateLabel{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  margin-left: 20px;
  margin-top: 2px;
}

#ReservationDate{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  margin-left: 110px;
  margin-top: 2px;
}

#ReservationAlldayLabel{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 55px;
  margin-top: -10px;
}

#ReservationAllday{
  position: absolute;
  margin-left: 110px;
  margin-top: -4px;
}

#ReservationBeginLabel{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 20px;
  margin-top: 11px;
}

#ReservationBegin{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 64px;
  margin-top: 12px;
}


/* Media query for smaller screens, yet to be changed */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px; /* Smaller font size for smaller screens */
  }

  #calendartablemonth,
  #calendartableweek,
  #calendartableday {
    flex: 0 0 100%; /* Take up full width on smaller screens */
  }

}